#marcoImagenes{  /*padre*/
	overflow: hidden;
	width: 100%; 
	float: center;
	background-color: #b9b4b1;
	border-radius: 25px;
}

p{
margin: 0px;
}
.imgQuienesSomos{  /*hijos*/
	float: left;
	width: 25%;
	height: 33%;
	line-height: 0px;
	color: transparent; font-size: 20px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
	-webkit-filter: grayscale(100%);
	opacity: 0.5; 
}

.imgQuienesSomos:hover {
	line-height: 50px;
	color: #575858;
	opacity: 1;
	-webkit-filter: grayscale(0%);
}
.imgQuienesSomos img {
	margin: 0 0px;
	width: 100%;
	border-radius: 25px;
}

.logos{
	float: center;
}
.logos img{  
	float: left;
	width: 30px;
	height: 30px;
}